<!DOCTYPE html>
<html >
    <head>
                               <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Arduin Johnny Five</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

     <script src="public/js/function.js"></script>
     <script src="public/js/jquery-1.11.0.min.js"></script>
     <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
            width: 400px;
        }
    </style>
        <link rel="stylesheet" href="public/js/css/bootstrapFlatly.css">
</head>
<body>
<div class="container">
        <h4>Motor <span class="label label-success">Test</span></h4>
        <div id="turn-left" class="row">
                <div class="btn-group col-md-3">
                        <div  class="btn btn-primary action" data-cmd="turn-left"></div>
                </div>
</div>
</div>
</div>
</body>
</html>
